--
-- PostgreSQL database dump
--

\restrict O48K2sKdJ1EdcaGcf8PglDxZAbIsP7Wqr8g86ZIy51ZHNx8NsNJaj3lfV88BXeD

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: objetivos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.objetivos (
    id character varying(10) NOT NULL,
    indicador text,
    meta numeric(15,2),
    resultado numeric(15,2),
    atualizado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    nome text,
    perspectiva_id integer
);


ALTER TABLE public.objetivos OWNER TO postgres;

--
-- Name: perspectivas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.perspectivas (
    id integer NOT NULL,
    nome character varying(100) NOT NULL
);


ALTER TABLE public.perspectivas OWNER TO postgres;

--
-- Name: perspectivas_custom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.perspectivas_custom (
    chave character varying(100) NOT NULL,
    nome_custom character varying(500) NOT NULL,
    atualizado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.perspectivas_custom OWNER TO postgres;

--
-- Name: perspectivas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.perspectivas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.perspectivas_id_seq OWNER TO postgres;

--
-- Name: perspectivas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.perspectivas_id_seq OWNED BY public.perspectivas.id;


--
-- Name: projetos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projetos (
    id integer NOT NULL,
    unidade character varying(100),
    tipo character varying(20),
    frequencia character varying(20),
    perspectiva character varying(50),
    objetivo_id character varying(10),
    nome character varying(255) NOT NULL,
    descricao text,
    responsavel character varying(255),
    prazo date,
    orcamento numeric(15,2),
    indicador_nome character varying(255),
    indicador_tipo character varying(20),
    meta_num numeric(15,2),
    res_num numeric(15,2),
    meta_data date,
    res_data date,
    meta_quali text,
    res_quali integer,
    status character varying(20),
    execucao integer,
    acoes_execucao jsonb DEFAULT '[]'::jsonb,
    entregas_periodicas jsonb DEFAULT '{}'::jsonb,
    criado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    anexo_url text,
    anexo_nome text
);


ALTER TABLE public.projetos OWNER TO postgres;

--
-- Name: projetos_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.projetos_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projetos_id_seq OWNER TO postgres;

--
-- Name: projetos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.projetos_id_seq OWNED BY public.projetos.id;


--
-- Name: solicitacoes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.solicitacoes (
    id integer NOT NULL,
    projeto_id integer,
    tipo character varying(20) NOT NULL,
    dados jsonb NOT NULL,
    usuario_id integer,
    status character varying(20) DEFAULT 'pendente'::character varying,
    criado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    resumo text
);


ALTER TABLE public.solicitacoes OWNER TO postgres;

--
-- Name: solicitacoes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.solicitacoes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.solicitacoes_id_seq OWNER TO postgres;

--
-- Name: solicitacoes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.solicitacoes_id_seq OWNED BY public.solicitacoes.id;


--
-- Name: swot_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.swot_items (
    id integer NOT NULL,
    tipo character varying(50) NOT NULL,
    posicao integer NOT NULL,
    descricao text NOT NULL,
    atualizado_em timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.swot_items OWNER TO postgres;

--
-- Name: swot_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.swot_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.swot_items_id_seq OWNER TO postgres;

--
-- Name: swot_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.swot_items_id_seq OWNED BY public.swot_items.id;


--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id integer NOT NULL,
    nome character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    senha_hash character varying(255) NOT NULL,
    entidade character varying(100),
    setor character varying(100),
    status character varying(20) DEFAULT 'pendente'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    reset_token character varying(255),
    reset_token_exp timestamp without time zone,
    role character varying(50) DEFAULT 'usuario'::character varying,
    cra_admin_scope character varying(100)
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.usuarios_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuarios_id_seq OWNER TO postgres;

--
-- Name: usuarios_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.usuarios_id_seq OWNED BY public.usuarios.id;


--
-- Name: perspectivas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perspectivas ALTER COLUMN id SET DEFAULT nextval('public.perspectivas_id_seq'::regclass);


--
-- Name: projetos id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projetos ALTER COLUMN id SET DEFAULT nextval('public.projetos_id_seq'::regclass);


--
-- Name: solicitacoes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes ALTER COLUMN id SET DEFAULT nextval('public.solicitacoes_id_seq'::regclass);


--
-- Name: swot_items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.swot_items ALTER COLUMN id SET DEFAULT nextval('public.swot_items_id_seq'::regclass);


--
-- Name: usuarios id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios ALTER COLUMN id SET DEFAULT nextval('public.usuarios_id_seq'::regclass);


--
-- Name: objetivos objetivos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetivos
    ADD CONSTRAINT objetivos_pkey PRIMARY KEY (id);


--
-- Name: perspectivas_custom perspectivas_custom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perspectivas_custom
    ADD CONSTRAINT perspectivas_custom_pkey PRIMARY KEY (chave);


--
-- Name: perspectivas perspectivas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.perspectivas
    ADD CONSTRAINT perspectivas_pkey PRIMARY KEY (id);


--
-- Name: projetos projetos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projetos
    ADD CONSTRAINT projetos_pkey PRIMARY KEY (id);


--
-- Name: solicitacoes solicitacoes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes
    ADD CONSTRAINT solicitacoes_pkey PRIMARY KEY (id);


--
-- Name: swot_items swot_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.swot_items
    ADD CONSTRAINT swot_items_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: objetivos objetivos_perspectiva_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.objetivos
    ADD CONSTRAINT objetivos_perspectiva_id_fkey FOREIGN KEY (perspectiva_id) REFERENCES public.perspectivas(id);


--
-- Name: projetos projetos_objetivo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projetos
    ADD CONSTRAINT projetos_objetivo_id_fkey FOREIGN KEY (objetivo_id) REFERENCES public.objetivos(id);


--
-- Name: solicitacoes solicitacoes_projeto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes
    ADD CONSTRAINT solicitacoes_projeto_id_fkey FOREIGN KEY (projeto_id) REFERENCES public.projetos(id) ON DELETE CASCADE;


--
-- Name: solicitacoes solicitacoes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.solicitacoes
    ADD CONSTRAINT solicitacoes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- PostgreSQL database dump complete
--

\unrestrict O48K2sKdJ1EdcaGcf8PglDxZAbIsP7Wqr8g86ZIy51ZHNx8NsNJaj3lfV88BXeD

